.textoInicial {
    position: relative;
    top: 100px;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #2d2d34;
    text-align: center;
}

#bgInicial {
    /*    background-image: url("../img/bg.jpg");*/
    /*    background-size: cover;*/
    height: 500px
}


.typed-cursor {
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.sonho {
    font-family: 'Shadows Into Light', cursive;
    color: #2d2d34
}

.realidade {
    font-family: 'Acme', sans-serif;
    color: #2d2d34
}


ul li {
    list-style-type: none;
}


.blur{
    filter: blur(1.2px);
}

    .circle {
        border-radius: 25%;
        height: 100px;
        width: 100px;
        transition: all .3s ease-in-out;
      }
      
      .circle:hover {
        border-radius:50%;  
        cursor: pointer;
      }
      
      .text {
        color: #000;
        opacity: 0;
        text-align: center;
        padding-top: 0px;
        transition: all .3s ease-in-out;
      }
      
      .circle:hover .text {
        padding-top: 40px;
        opacity: 1;
      }

.sobreMim{
    position: relative;
    margin-left: 43%;
    top: 200px;
    z-index: 5000;
    width: 150px;
    height: 150px;
    background-color: #f2efea !important;
    border: 2px solid red;

}